<html>
  <head>
    <meta charset="UTF-8" />
    <title>View</title>
  </head>
  <body>
    <h2>アクセスカウンター</h2>
    <p id="count">読み込み中…</p>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
      import {
        getFirestore,
        doc,
        getDoc,
      } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js";

      const firebaseConfig = {
        apiKey: "AIzaSyCcXRwnvWSqc9tlUXZKUYaw44B3HhM9VH4",
        authDomain: "ktpclauncher.firebaseapp.com",
        projectId: "ktpclauncher",
        storageBucket: "ktpclauncher.firebasestorage.app",
        messagingSenderId: "406353305836",
        appId: "1:406353305836:web:12e811e9eb39b30ce085c9",
        measurementId: "G-N13RRHHDKF",
      };
      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);
      const ref = doc(db, "visitors", "UserCounter");
      const snap = await getDoc(ref);
      document.getElementById("count").innerText = "現在: " + snap.data().count;
    </script>
  </body>
</html>
